@import 'tailwindcss/theme.css' layer(theme) prefix(tw);
@import 'tailwindcss/utilities.css' layer(utilities) prefix(tw);
@import 'mdbootstrap/css/bootstrap.min.css';
@import 'mdbootstrap/css/mdb.min.css';

@font-face {
        font-family: 'IRANSans';
        src: url('../fonts/iransansweb.ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
}

@font-face {
        font-family: 'IRANSansFaNum';
        src: url('../fonts/iransansweb(fa-num).ttf') format('truetype');
        font-weight: 400;
        font-style: normal;
        font-display: swap;
}

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

:root {

        --app-font-sans:
                'IRANSansFaNum',
                'IRANSans',
                'Instrument Sans',
                ui-sans-serif,
                system-ui,
                sans-serif,
                'Apple Color Emoji',
                'Segoe UI Emoji',
                'Segoe UI Symbol',
                'Noto Color Emoji';
}

@theme {
        --font-sans:var(--app-font-sans), serif;
}

body {
        font-family: var(--app-font-sans), serif;
}
