:root {
        --app-font-sans:
                'IRANSansFaNum',
                'IRANSans',
                'Instrument Sans',
                ui-sans-serif,
                system-ui,
                sans-serif,
                'Apple Color Emoji',
                'Segoe UI Emoji',
                'Segoe UI Symbol',
                'Noto Color Emoji';
}

@theme {
        --font-sans:var(--app-font-sans), serif;
}

body {
        font-family: var(--app-font-sans), serif;
}
